{% extends "stories/base.html" %}

{% block title %}
Home | StoryWeave
{% endblock %}

{% block content %}

<div class="home-page">

    <h1>StoryWeave</h1>

    <h2>CS50W Final Project</h2>

    <p>
        Start a story, continue someone else's,
        and create something together.
    </p>

    <div class="home-buttons">

        <a href="/stories/">
            Explore Stories
        </a>

        <a href="/stories/create/">
            Start Writing
        </a>

    </div>

</div>

{% endblock %}