{% extends "stories/base.html" %}

{% block title %}
Login | StoryWeave
{% endblock %}

{% block content %}

<div class="form-page">

    <h1>Login</h1>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="post">

        {% csrf_token %}

        <label>Username</label>

        <input
            type="text"
            name="username"
            required
        >

        <label>Password</label>

        <input
            type="password"
            name="password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

    <p>
        Don't have an account?
        <a href="/register/">Create one</a>
    </p>

</div>

{% endblock %}